<div style="text-align: center;" *ngIf="tam < 1">
  <h1>No tiene productos agregados</h1>
</div>
<div style="text-align: center;" *ngIf="tam >= 1">
  <h1>Productos</h1>
</div>
<button class="btn-flotante" [routerLink]="['/create']">
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
    <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
  </svg>
  Agregar producto
</button>
<div class="row" style="width: auto;">
  <ng-container *ngFor="let product of products; let i = index">
    <ng-container *ngFor="let fot of foto">
      <div class="card p-10" style="width: 18rem;" *ngIf="aparte(fot.ima_pro_id , product.pro_id, i)">
        <img [src]="'https://apicontabilidad.herokuapp.com/'+ fot.ima_path" height="300"  class="card-img-top" >
        <div class="container">
          <button class="btn-edit" (click)="edit(product.pro_id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
          </button>
        </div>
          <div class="card-body" >
            <abbr [title]="product.pro_nom | uppercase" style="text-decoration: none; cursor: pointer;">
             <h5 class="card-title corta">{{product.pro_nom|uppercase}}</h5>
            </abbr>

              <p class="card-text">Precio: {{product.pro_valv|currency:'COP ':'$ ':'.0-0'}} <br>Disponibles: {{product.pro_cant}} </p>
              <button *ngIf="esta(product.pro_id)<0" (click)="carro(product.pro_id, product.pro_nom, product.pro_valc, product.pro_valv, product.pro_gan, product.pro_cant)" class="btn-add">Vender</button>
              <button *ngIf="esta(product.pro_id)>=0" disabled="true" class="agregado">Agregado</button>
          </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngFor="let product of products">
      <div class="card p-10" style="width: 18rem;" *ngIf="noesta(product.pro_id)">
        <img src="assets/img/nofoto.png" height="300" class="card-img-top" >
        <div class="container">
          <button class="btn-edit" (click)="edit(product.pro_id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
          </button>
        </div>
          <div class="card-body" >
              <abbr [title]="product.pro_nom | uppercase" style="text-decoration: none; cursor: pointer;">
                <h5 class="card-title corta">{{product.pro_nom|uppercase}}</h5>
              </abbr>
              <p class="card-text">Precio: {{product.pro_valv|currency:'COP ':'$ ':'.0-0'}} <br>Disponibles: {{product.pro_cant}} </p>
                <button *ngIf="esta(product.pro_id)<0" (click)="carro(product.pro_id, product.pro_nom, product.pro_valc, product.pro_valv, product.pro_gan, product.pro_cant)" class="btn-add">Vender</button>
                <button *ngIf="esta(product.pro_id)>=0" disabled="true" class="agregado">Agregado</button>
          </div>
      </div>
  </ng-container>
</div>
