<div style="text-align: center;">
  <h1>Informaccion de ventas</h1>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th (click)="ordenar()" disabled="true" class="orden">Fecha</th>
      <th>Nombre</th>
      <th>Valor venta</th>
      <th>Cantidad</th>
      <th>Costo</th>
      <th>Total venta</th>
      <th>Descuento</th>
      <th (click)="ordenarganancia()" class="orden">Ganancia venta</th>
      <th></th>
      <!-- <th>Total gastos</th> -->
      <th></th>
      <!-- <th>Total</th> -->
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let venta of ventas; let i = index">
      <td>{{venta.ven_fech|date:'shortDate'}}</td>
      <td>{{venta.pro_nom|uppercase}}</td>
      <td>{{venta.ven_val|currency:'COP ':'$ ':'.0-0'}}</td>
      <td>{{venta.ven_cant}}</td>
      <td>{{venta.ven_cos|currency:'COP ':'$ ':'.0-0'}}</td>
      <td>{{venta.ven_tot|currency:'COP ':'$ ':'.0-0'}}</td>
      <td>{{venta.ven_gas|currency:'COP ':'$ ':'.0-0'}}</td>
      <td>{{venta.ven_gan|currency:'COP ':'$ ':'.0-0'}}</td>
      <!-- <th style="background-color:#ff000077" *ngIf="i == 0">{{gastos|currency:'COP ':'$ ':'.0-0'}}</th> -->
      <th><button class="btn btn-sm btn-outline-danger" (click)="eliminar(venta.ven_id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg></button></th>

      <th style="background-color:#00ff0079" *ngIf="i == 0">Total ingresos<br>{{totalventas-gastos|currency:'COP ':'$ ':'.0-0'}}</th>
      <th style="background-color:#ffee0094" *ngIf="i == 1">Total ganacias<br>{{ganancia|currency:'COP ':'$ ':'.0-0'}}</th>
      <th style="background-color:#ff11009d" *ngIf="i == 2">Total descuentos<br>{{gastos|currency:'COP ':'$ ':'.0-0'}}</th>
    </tr>
  </tbody>
</table>
